[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AndreeaVrl
[access "refs/for/refs/*"]
	read = group user/AndreeaVrl
	push = group user/AndreeaVrl
	label-Code-Review = -2..+2 group user/AndreeaVrl
	label-Verified = -1..+1 group user/AndreeaVrl
	rebase = group user/AndreeaVrl
	removeReviewer = group user/AndreeaVrl
	submit = group user/AndreeaVrl
[access "refs/heads/*"]
	read = group user/AndreeaVrl
	create = group user/AndreeaVrl
	push = +force group user/AndreeaVrl
	pushMerge = group user/AndreeaVrl
[access "refs/tags/*"]
	push = group user/AndreeaVrl
	push = +force group user/AndreeaVrl
