/* CSS Document */
body {
  padding-top: 70px;
}
.form-group {
		width: 100%;
}

.pachet-descriere .disabled {
	color: #999;
}
#countries-sel, #airports-sel, #routes-sel {
	width: 100%;
}