/* CSS Document */
/* checkbox rezervare locuri */
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.locuri td, .locuri th {
  text-align: center;
  vertical-align: middle;
}